/* body{
    background-image: url("backround.jpg");
    background-size: cover;
    background-repeat: no-repeat;
} */ */
#main-h1{
    text-align: center;
    /* color: wheat; */
}
 .card{
    font-size: 30px;
    /* color: white;
    border: white solid; */
    /* border-radius: 20%; */
    flex-direction: row;

    
 }